################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DeepLearningDistSite/settings.pyc
/DeepLearningDistSite/__init__.pyc
/DeepLearningDistSite/wsgi.pyc
/DeepLearningDistSite/urls.pyc
/MNISTDist/migrations/__init__.pyc
/MNISTDist/migrations/0001_initial.pyc
/MNISTDist/__init__.pyc
/MNISTDist/views.pyc
/MNISTDist/urls.pyc
/MNISTDist/ourfunctions.pyc
/MNISTDist/models.pyc
/MNISTDist/apps.pyc
/MNISTDist/admin.pyc
