*.pyc
.vs/config/applicationhost.config
.vs/django-web-server/v14/.suo
*.sqlite3
db.sqlite3
MNISTDist/migrations/000*
obj/*
bin/Microsoft.PythonTools.WebRole.dll
MNISTDist/.idea/workspace.xml
files4runtime/*
MNISTDist/.idea/workspace.xml